body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.container{
    width: 70vh; 
    height: 96vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: rgb(202, 202, 202);
    /* width: 35vw;
    height: 90vh; */
    /* background-color: rgb(248, 229, 141);*/
    border-radius: 15px;
    border: 3px solid white; 
}
.title{
    /* background-color: rgb(0, 36, 78); */
    height: 10vh;
    width: 100%;
    min-width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    /* border: 2px solid white; */
    overflow: hidden;
}
#rps{
    color: rgb(0, 35, 78);
    /* font-size: 1.8rem;
    font-weight:600; */
    font-size: 2.1rem;
}
.movesBox{
    height: 22vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moves{
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

.pickYourMove{
    height: 6vh;
    width: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:rgb(194, 225, 236);
    border-radius: 10px;
    border: 2px solid rgb(0, 36, 78); */
}
#pym{
    /* font-size: 1.3rem; */
    font-weight: 650;
    /* color: rgb(0, 36, 78); */
    color: rgb(0, 36, 78);
    display: flex;
    align-items: center;
    justify-content: center;

    animation: pulse 1.5s infinite ease-in-out;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.score{
    display: flex;
    justify-content: center;
    width: 40vh;
    height: 10vh;
    gap: 2.5vh;
}
.scoreBox{
    height: 100%;
    width:50%;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(0, 35, 78);
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 19vh;
    height: 19vh;
    object-fit:contain;
    cursor: pointer;
    transition: transform 0.3s ease; 
}
img:hover{
    transform: scale(1.05); 
}

.msgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 65vh;
    gap: 10px;
}
.msgBox{
    background-color: rgb(0, 35, 78);
    border-radius: 7px;
    border: 2px solid white;
    height: 100%;
    width: 50%;
    display: none;
    color: white;
    text-align: center;
    font-weight: 560;
}
.restart{
    background-color: rgb(0, 35, 78);
    border-radius: 7px;
    border: 2px solid white;
    height: 100%;
    width: 50%;
    line-height: 10vh;
    text-align: center;
    cursor: pointer;
    display: none;
    color: white;
    font-weight: 560;
    font-size: 1.2rem;
    transition: transform 0.3s ease; 
}
.restart:hover{
    transform: scale(1.05); 
}
/* @media(min-width: 992px) and (max-width:1199px){
    #rps{
        font-size: 1.6rem;
    }
    #pym{
        font-size: 1.3rem;
    } 
    #score{
        font-size: 1.3rem;
    }
}
 @media(min-width: 767px) and (max-width:991px){
    #rps{
        font-size: 1.6rem;
    }
    #pym{
        font-size: 1.3rem;
    }
    .scoreBox{
        font-size: 1rem;
    }
 }
 @media(min-width: 481px) and (max-width:767px){
    #rps{
        font-size: 1.3rem;
    }
    #pym{
        font-size: 1rem;
    }
    .scoreBox{
        font-size: 1rem;
    }
 } */
/* @media(max-width:480px){
    #rps{
        font-size: 1.2rem;
    }
    #pym{
        font-size: 1rem;
    }
    .scoreBox{
        font-size: 1rem;
    }
    img{
        width: 18vh;
    }
    .score{
        width: 55vh;
    }
}
@media(max-width:400px){
    #rps{
        font-size: 1.1rem;
    }
    #pym{
        font-size: .9rem;
    }
    .score{
        width: 40vh;
    }
    .scoreBox{
        font-size: 1rem;
    }
    img{
        width: 14vh;
    }
    .title{
        width:50vh;
        height: 13vh;
    }
}
@media(max-width:323px) {
    #rps{
        font-size: 1rem;
    }
} */

 @media(max-width:430px){
    img{
        width: 13vh;
        height: 13vh;
    }
    .movesBox{
        height: 13vh;
    }
    .title{
        width: 100% ;
        height: 10vh;
    }
    .pickYourMove{
        height: 7vh;
    }
    #rps{
        font-size: 1.5rem;
    }
    #pym{
        font-size: 1.2rem;
    }
    .scoreBox{
        font-size: 1.3rem;
    }
    .score{
        height: 8vh;
        width: 38vh;
    }
    .msgBox{
        height: 8vh;
        font-size: 0.83rem;
    }
    .msgContainer{
        width: 38vh;
        height: 8vh;
    }
    .container{
        gap: none;
        justify-content: space-around;
        height: 90vh;
        width: 40vh;
    }
    .restart{
        height: 8vh;
        line-height: 8vh;
        font-size: 1.1rem;
    }
 }
